*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
canvas {
    display: block;
    margin: 0 auto;
}
body, html {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


nav{
    position: absolute;
    background-color: aqua;
    top: 0;
    display: flex;
    z-index: 10;

    p{
        user-select: none;
        font-size: 4svw;

        &:hover{
            color: gray;
        }
    }
}
main{
    z-index: 9;
    background-color: bisque;
    display: flex;
    /* width: 100svw; */
    height: 100svh;
    position: absolute;
    left: 0svw;
    transition: left ease-in-out .5s;

    section {
        height: 100svh;
        width: 100svw;
    }
}