:root {
    --green: limegreen;
    --lightgreen: lightgreen;
    --tan: tan;
    --lightan: wheat;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
canvas {
    display: block;
    margin: 0 auto;
}
body,
html {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
nav {
    position: absolute;
    top: 0;
    display: flex;
    z-index: 10;
    padding: 1svh;

    p {
        user-select: none;
        font-size: 4svh;
        padding: 1svw 1.5svw;
        background-color: var(--lightgreen);
        transition: all .5s linear;
        margin: 0 -.5svw;

        &:hover {
            background-color: var(--green);
        }

        --decal: 1.5svw;

        &.selected {
            clip-path: polygon(0 0, 100% 0, calc(100% - var(--decal)) 100%, var(--decal) 100%);
            background-color: var(--green);
        }

        &.beforeSelected {
            clip-path: polygon(0 0, calc(100% - var(--decal)) 0, 100% 100%, var(--decal) 100%);
        }

        &.afterSelected {
            clip-path: polygon(var(--decal) 0, 100% 0, calc(100% - var(--decal)) 100%, 0 100%);
        }
    }
}

main {
    padding-top: 5svw;
    z-index: 9;
    background-color: bisque;
    display: flex;
    height: 100svh;
    position: absolute;
    left: -200svw;
    transition: left ease-in-out .5s;

    section {
        height: 90svh;
        width: 100svw;


        &#gameSection {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            button {
                background-color: var(--lightgreen);
                border: none;
                padding: 4svh;
                font-size: 3svh;

                &:hover {
                    background-color: var(--green);
                }
            }
        }

        &#userSection {
            display: flex;
            justify-content: center;
            align-items: center;

            #logRegisterForm {
                width: 60svh;
                max-width: 90svw;
                flex-direction: column;
                gap: 10px;

                #logError {
                    color: red;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    &.buttons {
                        flex-direction: row;
                    }
                }
            }
        }
    }
}
input {
    &:not(:placeholder-shown):valid {
        outline-color: green;
    }
    &:not(:placeholder-shown):invalid {
        outline-color: red;
    }

    height: 30px;
    padding: 5px;
    width: 200px;
}
label {
    font-size: 15px;
    font-weight: 600;
}
button {
    padding: 5px;
    border: black solid 1px;
    background-color: white;

    &:hover {
        background-color: lightgray;
    }
}
#inGameMenu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.241);
    backdrop-filter: blur(2px);
    /* border: solid 2px black; */
    width: 60px;
    height: 60px;
    transition: width linear .2s;
    margin: 20px;
    padding: 10px;
    justify-content: end;
    border-radius: 30px;
    flex-direction: row-reverse;
    overflow: hidden;
    gap: 10px;

    img{
        max-height: 60px;
        transform: translateY(-10px);
        width: 60px;
        cursor: pointer;
    }

    #inGameMenuCheckbox {
        display: none;
    }
    label {
        position: relative;
        right: 0px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        border: solid 2px black;
        cursor: pointer;
    }

    &:has(#inGameMenuCheckbox:checked) {
        width: 500px;
    }

    /* &>div{
        display: flex;
        height: 100%;
        width:max-content;
    } */
}










@media only screen and (max-width: 800px) {
    nav {
        padding: 0;
        gap: 5px;
        top: unset;
        bottom: 0;
        height: fit-content;
        position: absolute;
        p {
            font-size: 6.5svw;
            &.selected {
                clip-path: none;
            }

            &.beforeSelected {
                clip-path: none;
            }

            &.afterSelected {
                clip-path: none;
            }
        }
    }
}